/**
Modules de configuration des variables danss le style des differentes page du Site
**/

$height_head_header:100%;
$larger_of_screen_container:90%;
$height_of_screen_container:30em;
$larger_of_vp_infoContainer:40%;
$height_of_image_render:60em;
//Image_render
$border_radius_size: 50%;
$position_button:60%;
$color_items:rgba(255, 255, 255, 0.7);